<div class="banner">
    <div class="container clearfix">
        <div class="row">
            <div class="column">
                <div class="people-list" id="people-list">
                    <br>
                    <h3>Users:</h3>
                    <hr>
                    <ul class="list" id="usersList">
                        <li *ngFor="let user of users; index as i">
                        <button class="btn btn-link" (click)="selectUser(user)">{{user.email}}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="chat">
                    <div class="chat-header clearfix">
                        <h5>{{selectedUser.email}}</h5>
                    </div> <!-- end chat-header -->

                    <div class="chat-history">
                        <ul>
                            <li *ngFor="let m of messages">
                                <p *ngIf="(m.senderName == selectedUser.email) && (m.receiverName == fromLogin)">
                                   {{m.messageContent}}
                                </p>
                                <p class="my" *ngIf="(m.senderName == fromLogin) && (m.receiverName == selectedUser.email) && (fromLogin != selectedUser.email)">
                                    {{m.messageContent}}
                                </p>
                            </li>
                        </ul>
                    </div> <!-- end chat-history -->

                    <div class="chat-message clearfix">
                        <textarea id="message-to-send" name="message-to-send" placeholder="Type your message" [(ngModel)]="messageDto.messageContent" rows="3"></textarea>
                        <button id="sendBtn" (click)="sendMessage()">Send</button>
                    </div> <!-- end chat-message -->
            </div>
        </div> <!-- end chat -->
        </div>
    </div> <!-- end container -->
</div>
