<div class="banner">
    <h3>Merge requests</h3>
    <hr>
    <div *ngIf="stepOne">
        <h5>Step 1 - Chose application</h5>
        <br>
        <p></p>
        <ng-select [items]="applications" placeholder="Chose application" bindLabel="name" appendTo="body"
            [multiple]="false" [searchable]="true" [(ngModel)]="application" name="selectedConn">
            required
        </ng-select>
        <br>
        <button id="first-button" class="btn btn-info" (click)="showTwo()">Next</button>
    </div>

    <div *ngIf="stepTwo">
        <h5>Step 2 - Chose connection</h5>
        <br>
        <p>Application: {{application.name}}</p>
        <ng-select [items]="connections" placeholder="Chose connections" bindLabel="name" appendTo="body"
            [multiple]="false" [searchable]="true" [(ngModel)]="connection" name="selectedConn">
            required
        </ng-select>
        <br>
        <button class="btn btn-secondary" (click)="showOne()">Back</button>
        <button class="btn btn-info" (click)="showPR()">Next</button>

    </div>

    <!--Show merge requests -->
    <div *ngIf="stepPR">
        <h5>Last 10 merge requests</h5>
        <br>
        <p>Application: {{application.name}}, Connection: {{connection.name}}</p>
        <button class="btn btn-secondary" (click)="showTwo()">Back</button>
        <button class="btn btn-info" (click)="cancel()">Cancel</button>
        <hr>
        <div class="cards">
            <div *ngFor="let merge of mergeRequests; index as i" class="card">
                <h5 class="card-title">Merge request <span>{{i+1}}</span></h5>
                <div class="card-body">
                    <p>Title: <span>{{merge.title}}</span></p>
                    <p>Author: <span>{{merge.author}}</span></p>
                    <p>Closed by: <span>{{merge.closedBy}}</span></p>
                </div>
            </div>
        </div>
    </div>

</div>