<div class="banner">
    <div class="card-add-con">
        <div class="inputs">
            <form class="ngform" #addAppForm="ngForm">
                <h3>Create application</h3>
                <hr>
                <input class="form-control" type="text" [(ngModel)]="newApplication.name" id="nameNew" name="nameNew"
                    placeholder="Enter name" required #nameNew="ngModel" [class.is-invalid]="nameNew.touched && nameNew.invalid" />
                <div *ngIf="nameNew.touched && nameNew.invalid">
                    <small class="text-danger">Name is required field.</small>
                </div><br>

              <ng-select [(ngModel)]="newApplication.connections" [ngModelOptions]="{standalone: true}" [multiple]="true" bindLabel="name" appendTo="body" [searchable]="true">
                <ng-option *ngFor="let conn of connections" [value]="conn" name="name">{{conn.name}}</ng-option>
              </ng-select>

                <br>
                <button [disabled]="addAppForm.form.invalid" class="btn btn-info form-control"
                    (click)="createApp()">Save</button>
                <button class="btn btn-secondary form-control" (click)="cancelCreateApp()">Cancel</button>
            </form>
        </div>
    </div>
</div>
