/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #615a5a;
    background: url(assets/background.png) no-repeat center center fixed Highlight;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-home {
    position: absolute;
    left: 35%;
    top: 25%;
    color: #615a5a;
}

.banner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 25%;
    color: #615a5a;
}

.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card {
    width: fit-content;
    height: fit-content;
    margin: 25px auto;
    text-align: center;
    padding: 13px;
    background: transparent;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
  
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
} 

.card p {
    text-align: left;
}

.card-title {
    margin-top: 5%;
}

.card-body input {
    margin-top: 5%;
    max-height: 20px;
    border: transparent;
}

.copy-right{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.copy-right a{
  display: inline;
  color: black;
}

#footer {
    position: fixed;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.buttons {
    margin: 5px;
}

.buttons button {
    right: 0;
    margin: 5px;
    background: transparent;
    border: transparent;
    color: #615a5a;
}

.card-add-con {
    margin-left: 30%;
    margin-right: 30%;
}

.card-add-con button {
    margin-bottom: 5%;
}

#create {
    margin-left: 85%;
}
