<div class="header">
    <div class="navbar">
        <div class="logo">
            <a href="/home"><img src="assets/logo..png" height="30px" alt="GitLab info"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a *ngIf="loginService.isUserLogin()" href="navbar" routerLinkActive="active">Home</a></li>
                <li><a *ngIf="loginService.isUserLogin()" href="navbar/connection" routerLinkActive="active">Connections</a>
                </li>
                <li><a *ngIf="loginService.isUserLogin()" href="navbar/application" routerLinkActive="active">Applications</a>
                </li>
                <li><a *ngIf="loginService.isUserLogin()" href="navbar/merge-request" routerLinkActive="active">Merge
                        request</a></li>
                <li><a *ngIf="loginService.isUserLogin()" href="navbar/commit" routerLinkActive="active">Commits</a></li>
                <li><a *ngIf="loginService.isUserLogin()" href="navbar/chat" routerLinkActive="active">Chat</a></li>
                <li><a *ngIf="!loginService.isUserLogin()" href="/login" routerLinkActive="active">Login</a></li>
                <li><a *ngIf="loginService.isUserLogin()" (click)="loginService.logOut()" href="/login"
                        routerLinkActive="active">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
