.header {
    position: relative;
    width: 100%;
}

.header .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header .navbar .logo {
    margin-left: 30px;
}

.header .navbar .logo a {
    color: #615a5a;
    font-size: 30px;
    margin-left: 70px;
}

.header .navbar .menu ul {
    margin-left: 192px;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin-right: 35px;
    align-items: center;
}

.header .navbar .menu ul li a {
    color: #615a5a;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

