<div class="banner">
    <!--Wizard: select application then select connection -->
    <h3>Commits</h3>
    <hr>
    <div *ngIf="stepOne">
        <h5>Step 1 - Chose application</h5>
        <br>
        <p></p>
        <ng-select [items]="applications" placeholder="Chose application" bindLabel="name" appendTo="body"
            [multiple]="false" [searchable]="true" [(ngModel)]="application" name="selectedConn">
            required
        </ng-select>
        <br>
        <button id="first-button" class="btn btn-info" (click)="showTwo()">Next</button>
    </div>

    <div *ngIf="stepTwo">
        <h5>Step 2 - Chose connection</h5>
        <br>
        <p>Application: {{application.name}}</p>
        <ng-select [items]="connections" placeholder="Chose connections" bindLabel="name" appendTo="body"
            [multiple]="false" [searchable]="true" [(ngModel)]="connection" name="selectedConn">
            required
        </ng-select>
        <br>
        <button class="btn btn-secondary" (click)="showOne()">Back</button>
        <button class="btn btn-info" (click)="showCommits()">Next</button>

    </div>

    <!--Show commits -->
    <div *ngIf="stepCommits">
        <h5>Last 10 commits</h5>
        <br>
        <p>Application: {{application.name}}, Connection: {{connection.name}}</p>
        <button class="btn btn-secondary" (click)="showTwo()">Back</button>
        <button class="btn btn-info" (click)="cancel()">Cancel</button>
        <hr>
        <div class="cards">
            <div *ngFor="let commit of commits; index as i" class="card">
                <h5 class="card-title">Commit <span>{{i+1}}</span></h5>
                <div class="card-body">
                    <p>Message: <span>{{commit.message}}</span></p>
                    <p>Author: <span>{{commit.author}}</span></p>
                    <p>Sha: <span>{{commit.sha}}</span></p>
                </div>
            </div>
        </div>
    </div>

</div>