<div class="banner">
  <h3>Login</h3>
  <hr>
  <div class="form">
    <form class="ngform" #loginform="ngForm">
      <input class="form-control" type="email" [(ngModel)]="user.email" placeholder="Enter email" name="email" required
        #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required field.</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter valid email.</small>
      </div><br>

      <input class="form-control" type="password" [(ngModel)]="user.password" placeholder="Enter password" name="name"
        required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
      <div *ngIf="password.invalid && password.touched">
        <small class="text-danger">Password is required field.</small>
      </div><br>

      <button [disabled]="loginform.form.invalid" (click)="login()" class="btn btn-info form-control">Login</button>

      <hr>
      <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()"><i class="fa fa-google"></i> Login with Google</button>
    </form>
  </div>
</div>