<!--Show and edit connections -->
<div *ngIf="!addConnection" class="banner">
    <h3>Connections</h3>
    <hr>
    <button class="btn btn-info " id="create" (click)="enableCreate()"><i class="fa fa-add"></i>Create
        connection</button><br>
    <div class="cards">
        <div *ngFor="let connection of connections; index as i;" class="card">
            <h5 class="card-title">Connection <span>{{connection.id}}</span></h5>
            <div class="card-body">

                <p *ngIf="enableEditIndex != i">Name: <span>{{connection.name}}</span></p>
                <input class="form-control" type="text" *ngIf="enableEdit && enableEditIndex == i"
                    [(ngModel)]="connection.name" id="name" required />

                <!--Show more information-->
                <div *ngIf="enableShowMore && enableShowIndex == i">
                    <p *ngIf="enableEditIndex != i">Url: <span>{{connection.url}}</span></p>
                    <input class="form-control" type="text" *ngIf="enableEdit && enableEditIndex == i"
                        [(ngModel)]="connection.url" id="url" required />

                    <p *ngIf="enableEditIndex != i">Token: <span>{{connection.token}}</span></p>
                    <input class="form-control" type="text" *ngIf="enableEdit && enableEditIndex == i"
                        [(ngModel)]="connection.token" id="token" />

                    <p *ngIf="enableEditIndex != i">Project: <span>{{connection.project}}</span></p>
                    <input class="form-control" type="text" *ngIf="enableEdit && enableEditIndex == i"
                        [(ngModel)]="connection.project" id="project" required />

                    <p *ngIf="enableEditIndex != i">Branch name: <span>{{connection.branchName}}</span></p>
                    <input class="form-control" type="text" *ngIf="enableEdit && enableEditIndex == i"
                        [(ngModel)]="connection.branchName" id="branchName" required />
                
                </div>

            </div>

            <!--Buttons -->
            <div class="buttons">
                <div *ngIf="enableShowMore && enableShowIndex == i">
                    <!--Buttons for edit connection -->
                    <button class="btn btn-info" *ngIf="enableEdit && enableEditIndex == i" id="editBtn" (click)="save(i)"><i
                            class="fa fa-save"></i> Save</button>
                    <button class="btn btn-secondary" *ngIf="enableEdit && enableEditIndex == i" id="editBtn"
                        (click)="cancel(i)"><i class="fa fa-times"></i> Cancel</button>
                    <!--Buttons fir edit or delete connection -->
                    <button *ngIf="!enableEdit" class="btn btn-info" (click)="enableEditMethod($event, i)" id="edit"><i
                            class="fa fa-edit"></i> Edit</button>
                    <button *ngIf="!enableEdit" class="btn btn-secondary" (click)="delete(i)" id="delete"><i
                            class="fa fa-trash-o "></i> Delete</button>
                    <button class="btn btn-info" (click)="showLess()"><i class="fa fa-caret-up"></i> Show less</button>
                </div>
                <button *ngIf="!enableShowMore || enableShowIndex != i" class="btn btn-info" (click)="showMore(i)" id="showMoreBtn"><i class="fa fa-caret-down"></i> Show more</button>
                
            </div>

        </div>
    </div>
</div>
<!--Create connection -->
<div *ngIf="addConnection" class="banner">
    <div class="card-add-con">
        <div class="inputs">
            <form class="ngform" #addForm="ngForm">
                <h3>Create connection</h3>
                <hr>
                <!--Connection name-->
                <input class="form-control" type="text" [(ngModel)]="newConnection.name" id="nameNew" name="nameNew"
                    placeholder="Enter connection name" required><br>

                <!--URL-->
                <input class="form-control" type="text" [(ngModel)]="newConnection.url" id="urlNew" name="urlNew"
                    placeholder="Enter url" required #urlNew="ngModel"
                    [class.is-invalid]="urlNew.invalid && urlNew.touched"
                    pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})">
                <div *ngIf="urlNew.errors && (urlNew.invalid && urlNew.touched)">
                    <small class="text-danger">Url is required field.</small>
                    <small class="text-danger" *ngIf="urlNew.errors.pattern">Wrong url.</small>
                </div><br>

                <!--Token-->
                <input class="form-control" type="text" [(ngModel)]="newConnection.token" id="tokenNew" name="tokenNew"
                    placeholder="Enter token"><br>

                <!--Project name-->
                <input class="form-control" type="text" [(ngModel)]="newConnection.project" id="projectNew"
                    name="projectNew" placeholder="Enter project name" required #projectNew="ngModel"
                    [class.is-invalid]="projectNew.touched && projectNew.invalid">
                <div *ngIf="projectNew.touched && projectNew.invalid">
                    <small class="text-danger">Project name is required field.</small>
                </div><br>

                <!--Branch name-->
                <input class="form-control" type="text" [(ngModel)]="newConnection.branchName" id="branchNameNew"
                    name="branchNameNew" placeholder="Enter branch name" required #branchNameNew="ngModel"
                    [class.is-invalid]="branchNameNew.touched && branchNameNew.invalid">
                <div *ngIf="branchNameNew.touched && branchNameNew.invalid">
                    <small class="text-danger">Branch is required field.</small>
                </div><br>

                <!--Buttons-->

                <button [disabled]="addForm.form.invalid" class="btn btn-info form-control"
                    (click)="create()">Save</button>
                <button class="btn btn-secondary form-control" (click)="cancelCreate()">Cancel</button>

            </form>
        </div>
    </div>
</div>