<div class="banner">
    <h3>Applications</h3>
    <hr>
    <a class="btn btn-info " id="create" routerLink="/navbar/application/add"><i class="fa fa-add"></i>Create
        application</a><br>
    <div class="cards">
        <div *ngFor="let application of applications; index as i;" class="card">
            <h5 class="card-title">Application <span>{{application.id}}</span></h5>
            <div class="card-body">
                <p *ngIf="enableEditIndex != i">Name: <span>{{application.name}}</span></p>
                <input class="form-control" type="text" *ngIf="enableEdit && enableEditIndex == i"
                    [(ngModel)]="application.name" id="name" required />
                <!--Multi select for connections -->
                <div *ngIf="enableShowMore && enableShowIndex == i">
                        <p *ngIf="enableEditIndex != i">Connections: </p>
                        <ol *ngIf="enableEditIndex != i">
                            <li *ngFor="let con of application.connections">{{con.name}}<br></li>
                        </ol>
                        <br>
                    <ng-select *ngIf="enableEdit && enableEditIndex == i" [(ngModel)]="application.connections" placeholder="Chose connections" bindLabel="name" appendTo="body" [ngModelOptions]="{standalone: true}" [multiple]="true" [searchable]="true">
                        <ng-option *ngFor="let conn of connections" [value]="conn" name="name">{{conn.name}}</ng-option>
                    </ng-select>
                </div>

            </div>

            <div class="buttons">
                <div *ngIf="enableShowMore && enableShowIndex == i">
                    <button class="btn btn-info" *ngIf="enableEdit && enableEditIndex == i" id="saveBtn"
                        (click)="saveApp(i)"><i class="fa fa-save"></i> Save</button>
                    <button class="btn btn-secondary" *ngIf="enableEdit && enableEditIndex == i" id="cancelBtn"
                        (click)="cancelApp(i)"><i class="fa fa-times"></i> Cancel</button>
                    <button *ngIf="!enableEdit" class="btn btn-info" (click)="enableEditMethodApp($event, i)" id="edit"><i
                            class="fa fa-edit"></i> Edit</button>
                    <button *ngIf="!enableEdit" class="btn btn-secondary" (click)="deleteApp(i)" id="delete"><i
                            class="fa fa-trash-o "></i> Delete</button>
                    <button class="btn btn-info" (click)="showLess()"><i class="fa fa-caret-up"></i> Show less</button>
                </div>
                <button *ngIf="!enableShowMore || enableShowIndex != i" class="btn btn-info" (click)="showMore(i)" id="showMoreBtn"><i class="fa fa-caret-down"></i> Show more</button>
            </div>

        </div>
    </div>
</div>
